<aside class="d-flex flex-column h-100 bg-dark bg-gradient p-3">
  <!-- Title -->
  <div
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <button class="btn text-white">
      <h1 routerLink="/inizio">Gestionale Clienti</h1>
    </button>
  </div>
  <!-- Links -->
  <nav class="nav navbar">
    <ul>
      <li>
        <a aria-current="page" routerLink="/inizio">
          <button class="btn text-white" type="button">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="home"
            >
            </mat-icon>

            <span> inizio </span>
          </button>
        </a>
      </li>
      <li>
        <a routerLink="/clienti">
          <button type="button">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="groups"
            >
            </mat-icon>
            <span> clienti </span>
          </button>
        </a>
      </li>
      <li>
        <a class="" routerLink="/fatture">
          <button type="button">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="receipt_long"
            >
            </mat-icon>
            <span> fatture </span>
          </button>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <p>auth pages</p>
      </li>
      <li>
        <a class="" href="#">
          <button type="button">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="login"
            >
            </mat-icon>
            <span> sign in </span>
          </button>
        </a>
      </li>
      <li>
        <a class="" href="#">
          <button type="button">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="person_add"
            >
            </mat-icon>
            <span> sign up </span>
          </button>
        </a>
      </li>
    </ul>
  </nav>
</aside>
