<aside class="d-flex flex-column h-100 my-bg-dark bg-gradient p-3 rounded-1">
  <!-- Title -->
  <div
    class="d-flex justify-content-center align-items-center mb-3 bg-light w-100 rounded-1"
  >
    <button class="btn">
      <span class="h4" routerLink="/dashboard">Gestionale Clienti</span>
    </button>
  </div>
  <!--  Nav Links -->
  <hr />
  <nav class="d-flex flex-column gap-2">
    <p class="text-white h6">pages</p>
    <button
      *ngFor="let link of navLinks"
      class="d-flex justify-content-start align-items-center text-white mx-1 rounded-1"
      routerLinkActive="bg-white bg-opacity-10 bg-gradient"
      mat-button
      [routerLink]="'/' + link.route"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        [fontIcon]="link.icon || 'dashboard'"
      >
      </mat-icon>

      <span> {{ link.name }} </span>
    </button>
    <!-- Auth Links -->
    <hr />
    <p class="text-white h6">auth pages</p>
    <button
      *ngFor="let link of authLinks"
      mat-button
      class="d-flex justify-content-start align-items-center mx-1 text-white rounded-1"
      [routerLink]="'/' + link.route"
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="login"
      >
      </mat-icon>

      <span> {{ link.name }} </span>
    </button>
  </nav>
</aside>
