<header
  class="d-flex justify-content-between align-items-center p-1 my-bg-dark bg-gradient shadow-sm"
>
  <nav class="navbar navbar-expand-lg bg-transparent w-100" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">{{ title }}</a>
      <ng-content select=".btn-toggle-sidebar"></ng-content>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li *ngFor="let link of navLinks" class="nav-item">
            <a
              class="nav-link active rounded-1"
              aria-current="page"
              routerLinkActive="bg-white text-dark bg-gradient "
              [routerLink]="link.route"
              >{{ link.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <ng-content select=".btn-toggle-sidebar"></ng-content>
</header>
