<div class="container p-3 bg-white rounded shadow">
  <div
    class="d-flex justify-content-between align-items-center my-bg-dark bg-gradient text-white rounded p-3"
  >
    <span class="h4 fw-bold my-auto">{{ title }}</span>

    <div>
      <a [routerLink]="modifyRoute" class="btn btn-warning btn-sm me-2"
        >Modifica</a
      >
      <button (click)="deleteFunction()" class="btn btn-danger btn-sm">
        Elimina
      </button>
    </div>
  </div>
  <!-- Details Content -->
  <div class="details my-3 p-1">
    <ng-content select=".details"></ng-content>
  </div>

  <app-table
    [tableTitle]="tableTitle"
    [dataSource]="dataSource"
    [displayedColumns]="displayedColumns"
    [onView]="onView"
    [onEdit]="onEdit"
    [onDelete]="onDelete"
  ></app-table>

  <div class="d-flex justify-content-end mt-2">
    <a [routerLink]="addButtonRoute" class="btn my-btn-primary bg-gradient">{{
      addButtonLabel
    }}</a>
  </div>

  <div
    class="d-flex flex-wrap justify-content-end align-items-center gap-3 mt-4 p-3 bg-light border rounded"
  >
    <span><strong>IMPONIBILE:</strong> {{ imponibile | currency }}</span>
    <span><strong>IVA:</strong> {{ iva }} %</span>
    <span class="text-success"
      ><strong>TOTALE: {{ totale | currency }}</strong>
    </span>
  </div>
</div>
