<mat-drawer-container class="layout-container">
  <mat-drawer class="p-1 bg-light border-0" #drawer [mode]="drawerMode" [opened]="opened">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <section class="h-100 p-1">
    <div class="d-flex flex-column h-100">
      <nav class="">
        <app-header>
          <button
            class="btn-toggle-sidebar"
            mat-icon-button
            (click)="drawer.toggle()"
          >
            <mat-icon class="text-white text-opacity-75">menu</mat-icon>
          </button>
        </app-header>
      </nav>
      <div class="flex-grow-1 py-5 px-lg-5">
        <ng-content></ng-content>
      </div>
      <div class="">
        <app-footer></app-footer>
      </div>
    </div>
  </section>
</mat-drawer-container>
