.root-section{
  min-height: 100vh;
}

.main-section{
  min-height: 75vh;
}

.layout-container {
  width: 100vw;
  height: 100vh;
}

.btn-toggle-sidebar{
  display: none;
}

@media (max-width: 768px) {
  .btn-toggle-sidebar{
    display: block;
  }
}
