<app-box-detail
  [dataSource]="fattura.prodotti || []"
  title="Dettagli Fattura"
  tableTitle="Prodotti"
  [editFunction]="editFattura"
  [deleteFunction]="deleteFattura"
  [displayedColumns]="displayedColumns"
  [imponibile]="imponibileGenerale"
  [iva]="fattura.iva"
  [totale]="totaleGenerale"
  [addFunction]="addProdotto"
  [addButtonLabel]="'Aggiungi Prodotto'"
>
  <div class="details">
    <p><strong>Numero Fattura:</strong> {{ fattura.numeroFattura }}</p>
    <p><strong>Importo:</strong> {{ fattura.importo | currency }}</p>
    <p><strong>IVA:</strong> {{ fattura.iva | percent}}</p>
    <p><strong>Scadenza:</strong> {{ fattura.scadenza | date }}</p>
    <p class="d-flex gap-1">
      <strong>Cliente:</strong>
      <a [routerLink]="['/clienti', cliente.id]" class="my-text-primary"
        >{{ cliente.nome }} {{ cliente.cognome }}</a
      >
    </p>
  </div>
</app-box-detail>
