<app-option-for-principal-table
  [btnAdd]="{ label: 'Nuova Fattura', route: '/fatture/nuova', icon: 'add' }"
  [filterFunction]="searchByName"
  [toggleFilter]="toggleFilter"
>
  <form
    #filterForm="ngForm"
    (ngSubmit)="onSubmitFilter()"
    class="d-flex gap-3 align-items-end filters"
  >
    <!-- Campo de Importes -->
    <div class="form-check">
      <input
        type="checkbox"
        name="scadute"
        id="scadute"
        [(ngModel)]="formFilter.scadute"
        #scaduto="ngModel"
        class="form-check-input"
      />
      <label for="scadute" class="form-check-label">Scadute</label>
    </div>

    <div class="">
      <label for="minImporto">Importo minimo:</label>
      <input
        type="number"
        name="minImporto"
        id="minImporto"
        [(ngModel)]="formFilter.minImporto"
        #minImporto="ngModel"
        class="form-control"
      />
    </div>

    <div class="">
      <label for="maxImporto">Importo massimo:</label>
      <input
        type="number"
        name="maxImporto"
        id="maxImporto"
        [(ngModel)]="formFilter.maxImporto"
        #maxImporto="ngModel"
        class="form-control"
      />
    </div>

    <div class="">
      <button
        mat-raised-button
        type="submit"
        class="text-white bg-dark bg-gradient"
        [disabled]="!filterForm.valid || !filterForm.dirty"
      >
        Filtrare
      </button>
    </div>
  </form>
</app-option-for-principal-table>

<div class="mt-3">
  <app-table-skeleton
    *ngIf="isLoadingTable"
    [rowCount]="10"
  ></app-table-skeleton>
</div>

<div *ngIf="!isLoadingTable" class="mt-3">
  <app-table
    [displayedColumns]="displayedColumns"
    [dataSource]="filteredFattureList"
    [onView]="onViewFattura"
    [onDelete]="openDialogDeleteFattura"
    [onEdit]="onEditFattura"
  ></app-table>
</div>
