<footer class="p-3 bg-light text-center text-md-start">
  <div
    class="container d-flex flex-wrap align-items-center justify-content-center gap-3 px-2"
  >
    <span class="text-muted"> © 2023, Created by Software Industriale. </span>
    <ul class="nav gap-3">
      <li class="nav-item">
        <a
          href="https://www.creative-tim.com"
          target="_blank"
          class="nav-link p-0 text-muted"
          >Creative Tim</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://www.creative-tim.com/presentation"
          target="_blank"
          class="nav-link p-0 text-muted"
          >About Us</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://www.creative-tim.com/blog"
          target="_blank"
          class="nav-link p-0 text-muted"
          >Blog</a
        >
      </li>
      <li class="nav-item">
        <a
          href="https://www.creative-tim.com/license"
          target="_blank"
          class="nav-link p-0 text-muted"
          >License</a
        >
      </li>
    </ul>
  </div>
</footer>
