<app-box-detail
  [dataSource]="cliente.fatture || []"
  title="Dettaglio Cliente"
  tableTitle="Fatture"
  [editFunction]="editClient"
  [deleteFunction]="openDialogDeleteClient"
  [displayedColumns]="displayedColumns"
  [totale]="cliente.totaleFatture ?? 0"
  [addFunction]="addFattura"
  [addButtonLabel]="'Aggiungi Fattura'"
  [onView]="onViewFattura"
>
  <div class="details">
    <p aria-hidden="true"><strong>Nome:</strong> {{ cliente.nome }}</p>
    <p aria-hidden="true"><strong>Cognome:</strong> {{ cliente.cognome }}</p>
    <p aria-hidden="true"><strong>Email:</strong> {{ cliente.email }}</p>
  </div>
</app-box-detail>
