:root,
[data-bs-theme="light"] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: hwb(190 6% 15%);
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #e0e0e0;
  font-size: 14px;
}

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root input::placeholder, textarea::placeholder, select::placeholder {
  color: rgb(99, 100, 100);
  font-size: 12px;
}

:root .sm-container {
  max-width: 600px;
  margin: 0 auto;
}

:root .my-bg-dark {
  background-color: rgb(26, 38, 46);
}

:root .my-text-dark {
  color: rgb(26, 38, 46);
}

:root .my-bg-primary {
  background-color: rgb(111, 66, 193);
}

:root .my-text-primary {
  color: rgb(111, 66, 193);
}

:root .my-bg-secondary {
  background-color: var(--bs-pink);
}

:root .my-text-secondary {
  color: var(--bs-pink);
}

:root .my-btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: rgb(111, 66, 193);
  color: white;
  border: none;
  padding: 10px 20px;
}

:root .my-btn-primary:hover {
  background-color: rgb(91, 54, 160);
  color: white;
  box-shadow: none;
}

:root .my-btn-border-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid rgb(111, 66, 193);
  border: none;
  color: rgb(111, 66, 193);
  box-shadow: none;
  background-color: transparent;
  padding: 10px 20px;
}

:root .my-btn-border-primary:hover {
  outline: 1px solid rgb(91, 54, 160);
  background-color: rgba(91, 54, 160, 0.1);
  box-shadow: none;
}

:root .my-text-primary {
  color: rgb(91, 54, 160);
}

:root .my-bg-orange {
  background-color: var(--bs-orange);
}

:root .my-shadow-lg-orange {
  box-shadow: 0 0.5rem 1rem rgba(252, 126, 8, 0.351);
}

:root .my-bg-pink {
  background-color: var(--bs-pink);
}

:root .my-shadow-lg-pink {
  box-shadow: 0 0.5rem 1rem rgba(212, 51, 132, 0.351);
}

:root .my-bg-teal {
  background-color: var(--bs-teal);
}

:root .my-shadow-lg-teal {
  box-shadow: 0 0.5rem 1rem rgba(32, 201, 150, 0.351);
}

:root .my-bg-cyan {
  background-color: var(--bs-cyan);
}

:root .my-shadow-lg-cyan {
  box-shadow: 0 0.5rem 1rem rgba(21, 181, 255, 0.351);
}

:root .my-shadow-md-blue {
  box-shadow: 0 0.5rem 1rem rgba(13, 110, 253, 0.351);
}

:root .icons-links {
  cursor: pointer;
  font-size: 20px;
  margin-right: 5px;
}
