<div class="container-fluid">
  <div class="row gap-5 gap-lg-0">
    <div class="col-12 col-md-6 col-lg-3">
      <app-simple-widgets icon="payments" background_icon="blue">
        <span class="widget-title">Today's Users</span>
        <span class="widget-value">2,300</span>
        <span class="widget-description"
          ><strong class="text-green-500">+25%</strong>&nbsp;than last
          week</span
        >
      </app-simple-widgets>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-simple-widgets icon="person" background_icon="pink">
        <span class="widget-title">Today's Users</span>
        <span class="widget-value">2,300</span>
        <span class="widget-description"
          ><strong class="text-green-500">+25%</strong>&nbsp;than last
          week</span
        >
      </app-simple-widgets>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-simple-widgets icon="group_add" background_icon="green">
        <span class="widget-title">New Clients</span>
        <span class="widget-value">3,462</span>
        <span class="widget-description"
          ><strong class="text-green-500">+25%</strong>&nbsp;than last
          week</span
        >
      </app-simple-widgets>
    </div>

    <div class="col-12 col-md-6 col-lg-3">
      <app-simple-widgets icon="signal_cellular_alt" background_icon="orange">
        <span class="widget-title">Sales</span>
        <span class="widget-value">$103,430</span>
        <span class="widget-description"
          ><strong class="text-green-500">+25%</strong>&nbsp;than last
          week</span
        >
      </app-simple-widgets>
    </div>
  </div>
</div>
<div class="row gap-5 gap-lg-0"></div>
